<mat-card>
  <mat-card-title>
    People
    <button mat-button color='primary' id="addBtn" (click)="detailsMod.showAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>List of people</mat-card-subtitle>
  <mat-card-content>
    <app-person-list></app-person-list>
    <app-person-details #detailsMod></app-person-details>
  </mat-card-content>
</mat-card>
