<h3 *ngIf="people.length == 0" class="empty">No people for now. You might want to add some.</h3>

<!-- <mat-accordion>
  <mat-expansion-panel *ngFor="let person of people">
    <mat-expansion-panel-header>
        <mat-panel-title>{{person.firstName}}</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color='warn' (click)="remove(person)">Remove</button>
  </mat-expansion-panel>
</mat-accordion> -->
<mat-list>
  <mat-list-item *ngFor="let person of people">
    <h3>{{person.lastName}}, {{person.firstName}}</h3>
    <button mat-icon-button (click)="remove(person)" id="removeItemBtn">
        <mat-icon>delete</mat-icon>
     </button>
  </mat-list-item>
</mat-list>