/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding:  50px;
}

#addBtn, #removeItemBtn {
    float: right !important;
}


.mat-card {
    width: 60% !important;
    margin:0 auto;
}

.empty {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}