<h2 mat-dialog-title>Add Person</h2>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="data.firstName" placeholder="First name">
        <input matInput [(ngModel)]="data.lastName" placeholder="Last name">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">Add</button>
    <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>