<h3 *ngIf="heroes.length == 0" class="empty">No heroes for now. You might want to add some.</h3> 
<mat-accordion>
  <mat-expansion-panel *ngFor="let hero of heroes">
    <mat-expansion-panel-header>
        <mat-panel-title>{{hero.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color='warn' (click)="removeHero(hero)">Remove</button>
  </mat-expansion-panel>
</mat-accordion>